@import 'tailwindcss';

::selection {
  background-color: #000000;
  color: #fff;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    currentColor 0%,
    currentColor 40%,
    #a8a29e 50%,
    currentColor 60%,
    currentColor 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
}